table {border-collapse: collapse;}
table td {
    border: 1px solid #ddd;
}

table th {
    border: 1px solid #ddd;
}

.m_t10{margin-top: 10px;}
.m_b7{margin-bottom: 7px;}
.f_b{font-weight: bold;}
.p_r5{padding-right:5px}
.p-r20{padding-right:20px}
.txt_r{text-align:right}
.txt_c{text-align:center}